*{
    margin: 0%;
    padding: 0%;
    
}
body{
    background-image: url(./Imagenes2/fondoagua.jpg);
    width: 100%;
    height: 80vh;
}
h1{
    margin: 10px;
    padding: 10px;
    background-color: rgb(185, 255, 115);
    text-align: center;
    font-family: 'IBM Plex Sans Arabic', sans-serif;
}
main{
    margin: 10px;
    padding: 10px;
    background-color: aquamarine;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(6) 1fr;
    grid-template-areas: 
    "h3p h3p h3p"
    "p1 p1 p1"
    "pri pri asi"
    "sec sec asi"
    "ter ter asi"
    "p p p";
}
h3{
    margin: 5px;
    padding: 5px;
    font-family: 'IBM Plex Sans Arabic', sans-serif;
    grid-area: h3p;
}

section{
    margin: 10px;
    padding: 10px;
    border: 5px rgba(137, 43, 226, 0.671) solid; 
}
img{
    margin: 10px;
    width: 380px;
    height: 260px;
}

h2{
    margin: 5px;
    padding: 5px;
    font-family: 'IBM Plex Sans Arabic', sans-serif;
}
p{
    margin: 5px;
    padding: 5px;
    font-family: 'Roboto Mono', monospace;
    grid-area: p;
}
aside{
    margin: 5px;
    padding: 5px;
    grid-area: asi;
}
.h3p{
    margin: 5px;
    padding: 5px;
    font-family: 'Roboto Mono', monospace;
    grid-area: p1;
}

/*Piletas*/
.pri{
    background-color: darkkhaki;
    grid-area: pri;
}
.sec{
    background-color: forestgreen;
    grid-area: sec;
}
.ter{
    background-color: coral;
    grid-area: ter;
}
.pri p{
    background-color: rgb(184, 182, 157);
}
.sec p{
    background-color: rgb(127, 189, 127);
}
.ter p{
    background-color: rgb(255, 181, 154);
}
/*Fin de piletas*/


/*Footer*/
footer{
    background-color: black;
    margin: 10px;
    padding: 10px;
}
footer p{
    color: wheat;
    margin: 10px;
    padding: 10px;
}
footer a{
    margin: 10px;
    background-color: rgb(157, 231, 83);
    padding: 10px;
    border-radius: 15%;
}
footer a:hover{
    background-color: rgb(71, 163, 71);
    border-radius: 30%;
}
/*Fin footer*/