*{
    margin: 0%;
    padding: 0%;
}
body{
    background-image: url(./Imagen/fondoagua.jpg);
}


header nav{
    background-color: rgba(184, 96, 228, 0.692);
}

h1{
    font-family: 'IBM Plex Sans Arabic', sans-serif;
}

.btn-group{
    background-color: rgb(157, 231, 83);
}
.btn-group li:hover{
    background-color: rgb(128, 221, 35);
    border-radius: 20%;
}

header #logo{
    width: 60px;
    height: 60px;
    margin: 10px;
    left: 20px;
    
}

.Titulo{
    margin: 20px;
}


h2, h3{
    margin: 10px;
    margin-bottom: 0%;
    padding: 10px;
    background-color: yellowgreen;
    font-family: 'IBM Plex Sans Arabic', sans-serif;
}


main{
    margin: 10px;
    padding: 10px;
    background-color: rgba(127, 255, 212, 0.63);
}
main img{
    display: block;
    margin: 10px;
    padding: 10px;
}
a{
    display: inline;
    margin: 10px;
    padding: 10px;
}


p{
    margin: 10px;
    padding: 10px;
    font-family: 'Roboto Mono', monospace;
}

div{
    display: flex;
    flex-direction: row;
}

/*Footer*/
footer{
    background-color: black;
    margin: 10px;
    padding: 10px;
}
footer p{
    color: wheat;
    margin: 10px;
    padding: 10px;
}
footer a{
    margin: 10px;
    background-color: rgb(157, 231, 83);
    padding: 10px;
    border-radius: 15%;
}
footer a:hover{
    background-color: rgb(71, 163, 71);
    border-radius: 30%;
}

@media (max-width: 768px){
    footer p, a{
        font-size: 12px;
    }
    footer p, a{
        font-size: 8px;
    }
}
/*Fin footer*/