*{
    margin: 0%;
    padding: 0%;
}
body{
    background-image: url(./Imagen/fondoagua.jpg);

    width: 100%;
    height: 80vh;

}


/*Menu*/
nav{
    margin-top: 10px;
    height: 112px;
    background-color: rgba(184, 96, 228, 0.692);

}

.btn-group{
    background-color: rgb(157, 231, 83);
}
.btn-group li:hover{
    background-color: rgb(128, 221, 35);
    border-radius: 20%;
}
nav form button{
    background-color: rgb(157, 231, 83);
}
header #logo{
    width: 60px;
    height: 60px;
    margin: 10px;
    left: 20px;
    
}

.Titulo{
    margin: 10px;
}
/*fin de decorados*/

/*Titulo de esta pagina*/
.elija{
    margin: 10px;
    padding: 10px;
    background-color: rgb(185, 255, 115);
    font-family: 'IBM Plex Sans Arabic', sans-serif;
}
/*Fin de titulo de esta pagina*/
/*Fin de menu*/


h2{
    margin: 10px;
    padding: 10px;
    font-family: 'IBM Plex Sans Arabic', sans-serif;
}

main{
    margin: 10px;
    padding: 10px;
    background-color: rgba(127, 255, 212, 0.555);

}

section{
    margin: 10px;
    padding: 10px;

}

p{
    margin: 10px;
    padding: 10px;
    font-family: 'Roboto Mono', monospace;
}


form{
    margin: 10px;
    padding: 10px;
}
fieldset{
    margin: 10px;
    padding: 10px;
}
legend{
    margin: 10px;
    padding: 10px;
}
div{
    margin: 10px;
    padding: 10px;
}
h3{
    margin: 10px;
    padding: 10px;
    font-family: 'IBM Plex Sans Arabic', sans-serif;
}

div input{
    margin: 5px;
    padding: 5px;
}

.dia{
    display: block;
}

.in{
    display: block;
}

.comt{
    display: block;
}
.bot{
    margin: 10px;
    padding: 10px;
}

fieldset{
    color: black;

}
/*Espacio de formularios*/
#inve{
    background-color: darkcyan;

}
#vera{
    background-color: darkkhaki;

}
#colo{
    background-color: darksalmon;

}
#equi{
    background-color: rgb(209, 87, 87);

}
/*Fin de espacio de formularios*/


/*Footer*/
footer{
    background-color: black;
    margin: 10px;
    padding: 10px;
}
footer p{
    color: wheat;
    margin: 10px;
    padding: 10px;
}
footer a{
    margin: 10px;
    background-color: rgb(157, 231, 83);
    padding: 10px;
    border-radius: 15px;
}
footer a:hover{
    background-color: rgb(71, 163, 71);
    border-radius: 30px;
}

@media (max-width: 768px){
    footer p, a{
        font-size: 12px;
    }
    footer p, a{
        font-size: 8px;
    }
}
/*Fin footer*/

