*{
    margin: 0%;
    padding: 0%;
    
}
body{
    background-image: url(./Imagen/fondoagua.jpg);
    width: 100%;
    height: 80vh;
}

/*Menu*/
/*decorados*/
nav{
    margin-top: 10px;
    background-color: rgba(184, 96, 228, 0.692);
}

.btn-group{
    background-color: rgb(157, 231, 83);
}
.btn-group li:hover{
    background-color: rgb(128, 221, 35);
    border-radius: 20%;
}

header #logo{
    width: 60px;
    height: 60px;
    margin: 10px;
    left: 20px;
    
}

.Titulo{
    margin: 10px;
}
/*fin de decorados*/

h2{
    margin: 10px;
    padding: 10px;
    background-color: rgb(185, 255, 115);
    text-align: center;
    font-family: 'IBM Plex Sans Arabic', sans-serif;
}
main{
    margin: 10px;
    padding: 10px;
    background-color: aquamarine;

}
h4{
    margin: 5px;
    padding: 5px;
    font-family: 'IBM Plex Sans Arabic', sans-serif;
    grid-area: h3p;
}

section{
    margin: 10px;
    padding: 10px;
    border: 5px rgba(137, 43, 226, 0.671) solid; 
}
img{
    margin: 10px;
    width: 380px;
    height: 260px;
}
iframe{
    margin: 10px;
    width: 380px;
    height: 260px;
}

h3{
    margin: 5px;
    padding: 5px;
    font-family: 'IBM Plex Sans Arabic', sans-serif;
}
p{
    margin: 5px;
    padding: 5px;
    font-family: 'Roboto Mono', monospace;

}

.h3p{
    margin: 5px;
    padding: 5px;
    font-family: 'Roboto Mono', monospace;

}

/*Piletas*/
#pri{
    background-color: darkkhaki;

}
#pri p{
    background-color: rgb(184, 182, 157);
}


#sec{
    background-color: forestgreen;

}
#sec p{
    background-color: rgb(127, 189, 127);
}


#ter{
    background-color: coral;

}
#ter p{
    background-color: rgb(255, 181, 154);
}
/*Fin de piletas*/


/*Footer*/
footer{
    background-color: black;
    margin: 10px;
    padding: 10px;
}
footer p{
    color: wheat;
    margin: 10px;
    padding: 10px;
}
footer a{
    margin: 10px;
    background-color: rgb(157, 231, 83);
    padding: 10px;
    border-radius: 15px;
}
footer a:hover{
    background-color: rgb(71, 163, 71);
    border-radius: 30px;
}
/*Fin footer*/